@import url('https://fonts.googleapis.com/css2?family=Poppons&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contain{
   
    background:rgba(255,255,255,0.623);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(15,15,15);
    padding:  2em;
    margin-top: 3em;
    margin-left: 30em;
}
.heading{
    font-size:  2em;
    margin-bottom:  0.5em;
}
.box{margin:  0.2em ;height: 600px;}
.contain .box p{color: black}
.contain .box div{
    position: absolute;
    width: 150px;
    height: 40px;
    margin:  0.5em 0 ;
    color: rgb(19,19,19);
}
.contain .box input{
    position:absolute;
    width: 110%;
    height: 100%;
    
    color: rgb(19,19,19);
    border:none;
    outline: none;
    padding-left:  0.8em;
    border-radius:  10px;
    background: linear-gradient(to right , #ff416c,#ff4b2b)
    /* transition: all .4s; */
}
.contain .box input:focus::placeholder{color: rgb(19,19,19)}

.contain .box div::before{
    /* content: ''; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 102%;
    height: 105%;
    border-radius: 10px;
    background: linear-gradient(to right , #ff416c,#ff4b2b);
}
.loginbtn{
    width: 102%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor: pointer;
    columns: black;
    background: linear-gradient(to right, #ff416c ,#ff4b2b);
    transition: all .4s;
}
.loginbtn:hover{
    transform: translate(-1%,5%);
    box-shadow: 0 0 10px #ff416d65;
}
.text{
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
    color: rgba(255,255,255,0.623);
}
.text {
    
    color :black
}
